@import url("https://fonts.googleapis.com/css2?family=Saira:wght@400;500;600&family=Syne:wght@500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'benzin';
  src: url('/public/fonts/Benzin-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'gilroy';
  src: url('/public/fonts/Gilroy-Bold.ttf');
  font-weight: bold;
}

body {
  font-family: "Syne", sans-serif;
  color: #303030;
}

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
}

.menu-links {
  text-align: center;
  font-family: Saira;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.menu-links:hover {
  color: #d5ff3f;
}

.text-title-64 {
  color: #fff;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px; /* 125% */
}

.text-64 {
  font-size: 64px;
  font-weight: 600;
  color: white;
  font-family: "Syne", sans-serif;
}

.text-36 {
  color: #fff;
  text-align: center;
  font-family: "Saira", "Syne", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -2.16px;
}

.hero-title {
  color: black;
  font-size: 104px;
  font-weight: 700;
  line-height: 117px;
  letter-spacing: -1.04px;
}
.hero-title-mobile {
  color: black;
  font-size: 64px;
  text-align: left;
  font-weight: 700;
  letter-spacing: -1.04px;
}

.hero-get-a-quote {
  font-family: Saira;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.56px;
}

.text-48 {
  color: #fff;
  font-family: Syne;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.44px;
}

@media (max-width: 600px) {
  .text-48 {
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.44px;
  }

  .text-18 {
    color: #fff;
    font-family: Saira;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* letter-spacing: -0.54px; */
  }
}

.text-18 {
  color: #fff;
  font-family: Saira;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.54px;
}

/* TYPEWRITER ANIMATION HERO */
.highlight:before {
  content: "";
  position: absolute;
  bottom: 8;
  left: 0;
  height: 80%;
  width: 100%;
  background-color: #eceef3;
  border-left: 3px solid #d5ff3f;
  animation: animate 3s steps(8) infinite;
}
@keyframes animate {
  40%,
  60% {
    left: calc(100% + 4px);
  }
  100% {
    left: 0%;
  }
}

/* services title text animation */
.text-in {
  display: block;
  animation: textIn .3s ease;
}

@keyframes textIn {
  0% {
    transform: translateY(100%)
  }
  100% {
    transform: translateY(0);
  }
}

/* STARTUPS */
.startup-popup {
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}

/* .cursor {
  pointer-events: none;
  position: fixed;
  padding: 0.3rem;
  background-color: #fff;
  border-radius: 50%;
  mix-blend-mode: difference;
  transition: transform 0.3s ease;
}

.hover-this:hover ~ .cursor {
  transform: translate(-50%, -50%) scale(8);
} */


/* MENU */


 .container {
	 width: 1280px;
	 min-width: 1280px;
   position: absolute;
	 margin: 0 auto;
}
 .container .wrapper {
	 padding: 0 48px;
}
 .container .wrapper .home {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 height: 100%;
	 width: 100%;
}
 .container .wrapper .home p {
	 font-size: 0.75rem;
	 letter-spacing: 0.3rem;
	 text-transform: uppercase;
	 font-weight: 500;
}
 .container .wrapper .home h5 {
	 margin-top: 260px;
	 font-size: 24px;
	 font-weight: 600;
	 padding-right: 360px;
}
 /* header {
	 height: 100px;
} */
 header .inner-header {
	 position: relative;
	 z-index: 10;
	 /* height: 100px; */
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
}
 header .inner-header .logo a {
	 font-weight: 700;
	 font-size: 1rem;
	 text-decoration: none;
	 color: #303030;
}
 header .inner-header .menu button {
	 border: none;
	 background: none;
	 outline: none;
	 cursor: pointer;
	 font-size: 0.8rem;
	 mix-blend-mode: difference;
}
 header .hamburger-menu {
	 display: none;
	 z-index: 9;
	 top: 0;
	 left: 0;
	 right: 0;
	 position: fixed;
	 height: 100%;
	 width: 100%;
}
 header .hamburger-menu .menu-secondary-background-color {
	 background: #303030;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 position: fixed;
	 height: 100%;
	 width: 100%;
	 z-index: -1;
}
 header .hamburger-menu .menu-layer {
	 position: relative;
	 background: #d5ff3f;
	 height: 100%;
	 overflow: hidden;
}
 header .hamburger-menu .menu-layer .menu-city-background {
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 position: absolute;
	 height: 100%;
	 width: 100%;
	 opacity: 0;
	 background-size: cover;
	 background-repeat: no-repeat;
	 animation-name: backgroundEffect;
	 animation-duration: 30s;
	 animation-iteration-count: infinite;
}
 header .hamburger-menu .menu-layer .wrapper {
	 position: relative;
}
 header .hamburger-menu .menu-layer .wrapper .menu-links {
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
	 position: relative;
	 top: 200px;
}
 header .hamburger-menu .menu-layer .wrapper .menu-links nav {
	 display: block;
}
 header .hamburger-menu .menu-layer .wrapper .menu-links nav ul {
	 margin: 0;
	 padding: 0;
}
 header .hamburger-menu .menu-layer .wrapper .menu-links nav ul li {
	 list-style: none;
	 font-size: 6rem;
	 font-weight: 700;
	 cursor: pointer;
	 height: 135px;
	 overflow: hidden;
	 position: relative;
	 width: 700px;
}
 header .hamburger-menu .menu-layer .wrapper .menu-links nav ul li a {
	 position: absolute;
	 color: #303030;
	 text-decoration: none;
}
 header .hamburger-menu .menu-layer .wrapper .menu-links nav ul li a:hover {
	 color: #303030;
}
 header .hamburger-menu .menu-layer .wrapper .menu-links .info {
	 color: #303030;
	 width: 300px;
}
 header .hamburger-menu .menu-layer .wrapper .menu-links .info h3 {
	 font-size: 1.2rem;
	 margin: 8px auto;
}
 header .hamburger-menu .menu-layer .wrapper .menu-links .info p {
	 margin: 0 auto;
	 font-size: 0.8rem;
}

.toggle-btn-pc {
  position: fixed;
  top:0;
  right: 0;
  width: 96px;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px;
  z-index: 10;
}

.btn-outline {
  position: absolute;
  width: 96px;
  height: 96px;
  border: 1px solid white;
}

.btn-outline-1 {
  border-radius: 50%;
  background-color: #333333;
}

#hamburger {
  position: relative;
  width: 24px;
  height: 24px;
}

#hamburger span {
  display: inline-block;
  width: 24px;
  height: 1.25px;
  background: white;
  transition: transform 0.25s;
}
#hamburger span::before{
  position: absolute;
  right: 0;
  display: inline-block;
  content: "";
  width: 20px;
  height: 1.25px;
  background: white;
  transform: translateY(-4px);
  transition: transform 0.25s;
}

#hamburger.active span {
  transform: rotate(45deg);
}
#hamburger.active span::before {
  top: unset;
  width: 24px;
  transform: rotate(-90deg);
}



 @keyframes backgroundEffect {
	 0% {
		 background-position: 0% 0%;
	}
	 25% {
		 background-position: 40% 10%;
	}
	 50% {
		 background-position: 0 10%;
	}
	 75% {
		 background-position: 10% 40%;
	}
	 100% {
		 background-position: 0% 0%;
	}
}
 
/* :root {
  --bg: #ECEEF3;
  --link-color: #303030;
  --overlay-bg: #D5FF3F;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top:0;
  left: 0;
}

svg path {
  fill: var(--overlay-bg);
}

.btn-outline {
  position: absolute;
  width: 96px;
  height: 96px;
  border: 1px solid white;
}

.btn-outline-1 {
  border-radius: 50%;
}
.btn-outline-2 {
  border-radius: 50%;
}

#hamburger {
  position: relative;
  width: 20px;
  height: 20px;
}

#hamburger span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 24px;
  height: 1.25px;
  background: white;
  transition: transform 0.25s;
}
#hamburger span::before{
  position: absolute;
  right: 0;
  display: inline-block;
  content: "";
  width: 20px;
  height: 1.25px;
  background: white;
  transform: translateY(-4px);
  transition: transform 0.25s;
}

#hamburger.active span {
  transform: rotate(45deg);
}
#hamburger.active span::before {
  top: unset;
  width: 24px;
  transform: rotate(-90deg);
}

.menu {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.menu > div {
  height: 100%;
  display : flex;
}

.menu a {
  position: relative;
  top: 120px;
  line-height: 70%;
  text-decoration: none;
  color: var(--link-color)
}

.menu a span {
  font-size: 20px;
  margin-right: 2em;
}

.menu-item {
  position: relative;
}

.menu-item:after {
  content: "";
  position: absolute;
  top: 100px;
  left: -20px;
  width: 150%;
  height: 200%;
  background: var(--overlay-bg);
  margin: 0 auto;
}

.menu-container {
  width: 70%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.primary-menu {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.primary-menu .menu-container .wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.primary-menu a {
  text-transform: uppercase;
  font-size: 100px;
  font-weight: 700;
}

@media (max-width: 600px) {
  .primary-menu a {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
  }

  .primary-menu .menu-container .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: flex-start;
  }

  .menu {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

.secondary-menu {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 8em;
}

.secondary-menu .menu-item a {
  font-size: 36px;
}

.secondary-menu .menu-container .wrapper {
  display: flex ;
  flex-direction: column;
  gap: 16px;
}

.secondary-menu .menu-container .wrapper:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.show-menu-btn {
  opacity: 1;
  display: block;
  transition: all ease-in;
}
 */

/* STARTUP HOVER */

@media (min-width: 1025px) {
  .startup .img-wrapper {
    position: absolute;
    top: -50%;
    left: 50%;
    opacity: 1; 
    transform: scale(1); 
    transition: all 250ms;
    pointer-events: none;
    width: 438px;
    height: 292px;
    overflow: hidden;
    z-index: 2;
  } 
  
  .startup-container img {
    position: absolute;
    opacity: 0;

    transform: scale(0);
    transition: transform 200ms cubic-bezier(0.075, 0.82, 0.165, 1), opacity 250ms; 
    pointer-events: none;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .startup-container .startup:hover .img-wrapper img {
    opacity: 1;
    transform: scale(1);
  }

}


@media (max-width: 900px) {
  svg path {
    fill: var(--overlay-bg);
    height: 100vh;
  }
}
