@import url("https://fonts.googleapis.com/css2?family=Saira:wght@400;500;600&family=Syne:wght@500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'benzin';
  src: url('/public/fonts/Benzin-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'gilroy';
  src: url('/public/fonts/Gilroy-Bold.ttf');
  font-weight: bold;
}

body {
  font-family: "Syne", sans-serif;
  color: #303030;
}

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
}

.menu-links {
  text-align: center;
  font-family: Saira;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.menu-links:hover {
  color: #d5ff3f;
}

.text-title-64 {
  color: #fff;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px; /* 125% */
}

.text-64 {
  font-size: 64px;
  font-weight: 600;
  color: white;
  font-family: "Syne", sans-serif;
}

.text-36 {
  color: #fff;
  text-align: center;
  font-family: "Saira", "Syne", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -2.16px;
}

.hero-title {
  color: black;
  font-size: 104px;
  font-weight: 700;
  line-height: 117px;
  letter-spacing: -1.04px;
}
.hero-title-mobile {
  color: black;
  font-size: 64px;
  text-align: left;
  font-weight: 700;
  letter-spacing: -1.04px;
}

.hero-get-a-quote {
  font-family: Saira;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.56px;
}

.text-48 {
  color: #fff;
  font-family: Syne;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.44px;
}

.text-18 {
  color: #fff;
  font-family: Saira;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.54px;
}

/* TYPEWRITER ANIMATION HERO */
.highlight:before {
  content: "";
  position: absolute;
  bottom: 8;
  left: 0;
  height: 80%;
  width: 100%;
  background-color: #eceef3;
  border-left: 3px solid #d5ff3f;
  animation: animate 3s steps(8) infinite;
}
@keyframes animate {
  40%,
  60% {
    left: calc(100% + 4px);
  }
  100% {
    left: 0%;
  }
}

/* services title text animation */
.text-in {
  display: block;
  animation: textIn .3s ease;
}

@keyframes textIn {
  0% {
    transform: translateY(100%)
  }
  100% {
    transform: translateY(0);
  }
}

/* STARTUPS */
.startup-popup {
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}

/* .cursor {
  pointer-events: none;
  position: fixed;
  padding: 0.3rem;
  background-color: #fff;
  border-radius: 50%;
  mix-blend-mode: difference;
  transition: transform 0.3s ease;
}

.hover-this:hover ~ .cursor {
  transform: translate(-50%, -50%) scale(8);
} */


/* MENU */
:root {
  --bg: #ECEEF3;
  --link-color: #303030;
  --overlay-bg: #D5FF3F;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top:0;
  left: 0;
}

svg path {
  fill: var(--overlay-bg);
}

.btn-outline {
  position: absolute;
  width: 96px;
  height: 96px;
  border: 1px solid white;
}

.btn-outline-1 {
  border-radius: 50%;
}
.btn-outline-2 {
  border-radius: 50%;
}

#hamburger {
  position: relative;
  width: 20px;
  height: 20px;
}

#hamburger span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 24px;
  height: 1.25px;
  background: white;
  transition: transform 0.25s;
}
#hamburger span::before{
  position: absolute;
  right: 0;
  display: inline-block;
  content: "";
  transform: translateY(-4px);
  width: 20px;
  height: 1.25px;
  background: white;
  transition: transform 0.25s;
}

#hamburger .active span {
  transform: rotate(45deg);
}
#hamburger .active span::before {
  top: unset;
  width: 24px;
  transform: rotate(-90deg);
}

.menu {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.menu > div {
  height: 100%;
  display : flex;
}

.menu a {
  position: relative;
  top: 120px;
  line-height: 70%;
  text-decoration: none;
  color: var(--link-color)
}

.menu a span {
  font-size: 20px;
  margin-right: 2em;
}

.menu-item {
  position: relative;
}

.menu-item::after {
  content: "";
  position: absolute;
  top: 100px;
  left: -20px;
  width: 150%;
  height: 200%;
  background: var(--overlay-bg);
  margin: 0 auto;
}

.menu-container {
  width: 70%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.primary-menu {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.primary-menu .menu-container .wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.primary-menu a {
  text-transform: uppercase;
  font-size: 100px;
  font-weight: 700;
}

.secondary-menu {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8em;
}

.secondary-menu .menu-item a {
  font-size: 36px;
}

.secondary-menu .menu-container .wrapper {
  display: flex ;
  flex-direction: column;
  gap: 16px;
}

.secondary-menu .menu-container .wrapper:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.show-menu-btn {
  opacity: 1;
  display: block;
  transition: all ease-in;
}