@import url("https://fonts.googleapis.com/css2?family=Saira:wght@400;500;600&family=Syne:wght@500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Syne", sans-serif;
  color: #303030;
}

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
}

.menu-links {
  text-align: center;
  font-family: Saira;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.menu-links:hover {
  color: #d5ff3f;
}

.text-title-64 {
  color: #fff;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px; /* 125% */
}

.text-64 {
  font-size: 64px;
  font-weight: 600;
  color: white;
  font-family: "Syne", sans-serif;
}

.text-36 {
  color: #fff;
  text-align: center;
  font-family: "Saira", "Syne", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -2.16px;
}

.hero-title {
  color: black;
  font-size: 104px;
  font-weight: 700;
  line-height: 117px;
  letter-spacing: -1.04px;
}

.hero-get-a-quote {
  font-family: Saira;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.56px;
}

.text-48 {
  color: #fff;
  font-family: Syne;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.44px;
}

.text-18 {
  color: #fff;
  font-family: Saira;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.54px;
}

/* TYPEWRITER ANIMATION HERO */
.highlight:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #eceef3;
  border-left: 3px solid #d5ff3f;
  animation: animate 3s steps(8) infinite;
}
@keyframes animate {
  40%,
  60% {
    left: calc(100% + 4px);
  }
  100% {
    left: 0%;
  }
}

/* services title text animation */
.text-in {
  display: block;
  animation: textIn .3s ease;
}

@keyframes textIn {
  0% {
    transform: translateY(100%)
  }
  100% {
    transform: translateY(0);
  }
}